<li class="navi"><button type="submit" name="action" value="update_[% submit_action %]">save</button></li>
<li class="navi"><button type="submit" name="action" value="deactivate_[% submit_action %]">deactivate</button></li>
<li class="navi"><button type="submit" name="action" value="create_[% submit_action %]">+</button></li>
<li class="navi"><button type="submit" name="action" value="delete_[% submit_action %]">delete</button></li>
    

