
  <div class="container">
    <h1>My Data :  [% vars.memberName %] - [% vars.memberMail %] - [% vars.memberId  %] - [% vars.memberRole %] - [% vars.memberTeam %]</h1>
    [% vars.content %]
  </div>


