[% USE Dumper %]
    <nav>
        <ul class="">
            <li><a href="/admin_panel?action=team_members">Team-Members</a></li>
            <li><a href="/admin_panel?action=all_members">All-Members</a></li>
        </ul>
    </nav>

