<ul class="user-list">
	[% FOR item IN vars.team_list %]
		<li>
		   <input type="text" name="ID" placeholder="[% item.get_id %]" value="[% item.get_id %]" readonly>
		   <input type="text" name="name" placeholder="[% item.get_name %]" >

		    <input type="checkbox" name="active">
		</li>
	[% END %]
</ul>

