  <div class="container">
    <h1>Teams</h1>
	<ul>
	[% FOR item IN vars.team_list %]
		<!-- li><a href="admin_panel?action=team_members&team_name=[% item %]">[% item  %]</a></li -->
		<li><a href="admin_panel?action=team_members&team_name=No_Team">[% item  %]</a></li>
	[% END %]
     	</ul>
    
    <!-- Team management content -->
    [% vars.content %]
  </div>

